<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>{% block title %}Spiro{% end %}</title>

  <!-- Application styles -->
  <!-- link href="/public/bootstrap/css/bootstrap.css" rel="stylesheet" -->
  <link href="/static/css/bootstrap.css" rel="stylesheet">
  <style>
    body {
        /* Why isn't this part of bootstrap? */
        padding-top: 90px;
        position: relative;
    }
    .footer .nav li {
        display: inline-block;
        margin: 0 1em 0 0;
    }
  </style>
  <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="/static/css/bootstrap-toggle-button.css" rel="stylesheet">
</head>

<body>
 {% block body %}{% end %}
</body>

</html>
