
<script type="text/template" id="modal">
<div class="modal-header">
  <h3>Chatty Screen Name</h3>
</div>
<div class="modal-body">
  <input type="text" class="span4" placeholder="Enter your screen name">
</div>
<div class="modal-footer">
  <a id="done" href="#" class="btn btn-primary">Done</a>
</div>
</script>

<script type="text/template" id="user">
<a href="#users/<%= cid %>">
  <% if(isMe){ %>
    <i class="icon-star"></i>
  <% }else{ %>
    <i class="icon-user"></i>
  <% } %>
  <%= screenName %>
</a>
</script>

<script type="text/template" id="message">
<div class="screen-name">
  <%= screenName %>
</div>
<div class="message">
  <%= message %>
</div>
</script>
